.wrapper{
    display: flex;
    height: 100hw;
    background-color: blue;
    flex-flow: row wrap;
}

/*tell all items to be 100% and have a padding of 10px */
.wrapper > *{
    padding: 10px;
    flex: 1 100%;
}


header{
    display: flex;
    background: tomato;
    justify-content: space-around;
}



.quiz-card{
    display: flex;
    background: black;
    flex-direction: column;
}

#quiz{
    display: flex;
    margin: auto;
    flex-direction: column;
    color: white;
}

.results{
    position: relative;
    width: 350px;
    margin: auto;
    display: flex;
    background-color: rgb(60, 12, 150);
}

.active-question{
    display: flex;
    flex-direction: column;
}

.not-active{
    display: none;
}
